layout: page
title: 项目文章
hide_footer: false
---

<div class="posts-list">
  <h1>项目文章</h1>
  
  {% if site.posts.size == 0 %}
    <p>暂无文章，敬请期待！</p>
  {% else %}
    {% for post in site.posts %}
      <article class="post-item">
        <h2 class="post-title">
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
        </h2>
        <div class="post-meta">
          <time datetime="{{ post.date | date_to_xmlschema }}">
            {{ post.date | date: "%Y-%m-%d" }}
          </time>
        </div>
        <div class="post-excerpt">
          {{ post.excerpt }}
        </div>
        <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">阅读全文</a>
      </article>
    {% endfor %}
  {% endif %}
</div>